ul {
  list-style: none;
  margin: 0;
  padding: 0;

  margin-block-start: 1rem;

  border: 1px solid #555;
  padding: .5em;
  height: 400px;
  overflow: auto;

  li+li {
    margin-block-start: .2em;
  }
}